@charset "UTF-8";
/* CSS Document */
body{background:#deceb0; padding:0px; margin:0px; font-size:12px;}
div,ul,li,h1,h2,img,a{margin:0px; padding:0px; border:0px; list-style:none; background-color: rgba(0,0,0,0);box-sizing: border-box;}

#mulu{	width: 100vw; max-width: 1004px; height:247px; position: fixed; z-index: 1; top: 0px;}
#sou{	width: 100vw; max-width: 100%; height:500px; position: relative; }

#soub{max-width: 100%; height:auto; position: relative; display: flex; flex-direction: column; }
#soub div{width: auto;}
#soub div button{width: 35px; height: 35px; border-width: initial; margin: 3px; font-size: 17px;}
#soub div ul{border-width: 0; background-color: rgba(170, 255, 0, 0.1);}
#soub div ul li{padding: 3px 5px; font-size: 17px;}
#soub div ul li.aurlb{background: rgba(0, 255, 170, 0.05);}

#soub div ul li a{font-size: 17px; line-height: initial; text-decoration-line:none;}

#soub form a{font-size: 17px;}
#soub form input{width: 150px; height: 20px; border-width: initial;}
#Results{display: none;}
#sResults{display: flex; flex-direction: column; margin: 10px auto; width: 200px;}
#sResults li{ flex-direction: row; font-size: 20px;}
#sResults li a{margin: 0 auto 0 0;}

/* 当屏幕的宽度小于500的时候，我希望展示出来的内容 */
@media screen and (max-width: 500px ) {
	#sou{	height:auto;}
	#soub{display: none;}
	/* 当屏幕的高度小于200的时候，我希望展示出来的内容 */
	@media screen and (max-height: 200px ) {
			#sou{	height:calc(100vh);}

	}
}



.aurl{float:left; width:auto; height:auto; line-height:32px; text-align:center;background-color: rgba(255, 255, 255, 0.4);border-radius: 10px; display: block;}
.aurlb{background: rgba(0, 255, 170, 0.2);text-align:center; border-radius: 10px;}

.FenLei{width: 330px; max-width: 100%; position: absolute; top:175px; height:30px; left:calc(50% - 165px);z-index: 10; display: flex; justify-content:center;}
.FenLei li{width: 100%; height: 100%;}
.FenLei li a{ height: 100%; color:#000000; text-decoration:none; font-size:18px; font-weight:bold; display: block;  border-radius: 10px 10px 0 0; margin: 0 3px; width: 100%;text-align:center;}
.FenLei li a:hover{background-color: rgba(248, 240, 225, 0.5); text-decoration: underline;}
/* 当屏幕的宽度小于500的时候，我希望展示出来的内容 */
@media screen and (max-width: 500px) {
	.FenLei{top:170px; height:35px; }
	.FenLei li a{font-size: 23px;}
}


.clearfix{clear:both}

.nb_body{ background:url(../images/head.jpg) #deceb0 repeat-x fixed left -24px; height:auto; }
.nb_main{ max-width: 1004px; height:auto; margin:0px auto; position:relative;
overflow: hidden; /* 超出容器的图片部分将被隐藏 */
}
.homeName{ margin:0px auto;color: #8a703e; height:212px;
background-image:rgba(0,0,0,0); height:212px;}

.myFamilyName{
position:relative;height:60px; line-height:60px; color:#268a26; font-size:28px;top:82px; font-weight:bold;
display:flex; justify-content:center; align-items:center;/* 设置水平和垂直居中 */
 }
.myFamilyName i{ font-style:normal;}
.myFamilyInfo{width:100%; height:30px; line-height:30px; position:absolute; top:122px; font-size:14px;} 

.nb_nav{ background:url(../images/nav_bg.jpg) no-repeat center top;height:32px;width: 1004px; overflow: visible;}
.nb_nav .nav2{ height:100%; line-height:32px;width: 100vw;max-width: 100%; overflow: visible;/*超出部分可见*/
display:flex; justify-content:center; align-items:flex-end; flex-direction: row;/* 设置水平居中和垂直向下对齐 */
}
.nav2 ul li{ float:left; width:82px; height:32px; line-height:32px; text-align:center;background-color: rgba(255, 85, 0, 0.3);border-radius: 50%;}
.nav2 ul li a{ color:#000000; text-decoration:none;background-color: rgba(255, 255, 255, 0.5);border-radius: 50%; font-size:18px; font-weight:bold;}
.nav2 ul li a:hover{ background-color: rgba(255, 255, 255, 1);}
.nav2 .selected{ background:url(../images/tabbg.jpg) no-repeat center bottom; width:82px;  font-size:14px; font-weight:bold;}
.nav2 .selected a{color:#60430d; text-decoration:none;} 

.nb_smt{ background: #f8f0e1; border-radius: 10px 10px 0 0;  border: 1.5px solid #b2a181; border-bottom: none; height:10px; margin-top: -3px; overflow: visible; margin-top: 203px;position: relative;z-index: 5;}
.nb_cnt{ background: #f8f0e1; border: 1.5px solid #b2a181; border-bottom: none; border-top: none; height:auto; width: 100%; display: flex; flex-direction: row; position: relative;z-index: 5;}
.nb_fot{ background: #f8f0e1; border: 1.5px solid #b2a181; border-radius: 0 0 20px 20px; border-top: none;}

.mainLeft{width:183px; height:auto; flex-shrink: 0; flex-grow: 0; display: none;}
.mainRight{width:100%;  margin: 0 auto; }
/* 当屏幕的尺寸大于500的时候，我希望展示出来的内容 */
@media screen and (min-width: 500px) {
.mainLeft {display: block;}
.mainRight{width: calc(100% - 183px);}
/* .header{display: none;} */
}


.mainLeftTop{width:241px; height:10px; }
.mainLeftCenter{width:241px; height:auto; }
.mainLeftBottom{width:241px; height:10px; }
.left-title{width:230px; margin-left:10px; height:20px; line-height:20px; color:#555; font-size:12px; color:#605238;}
.left-photo{width:208px; height:248px; margin:10px auto; border:1px solid #d0c4b3;}
.left-photo img{ width:200px; height:240px; display:block; padding:4px;}
.left-name{width:220px; height:30px; line-height:30px; margin:0px auto; color:#333; font-size:16px; text-align:center}
.left-info{width:200px; margin:15px auto}
.left-info ul li{width:100%; height:26px; line-height:26px; color:#333}

.mainRightTop{width:auto; height:10px; }
.mainRightCenter{width:100%;}
.mainRightBottom{width:auto; height:10px;}

.Rtitle{width:auto; margin-left:10px; line-height:20px; color:#605238}
.Rrain{ width:auto; margin:0px auto; height: auto;font-size:14px; line-height:1.8; color:#444; overflow:hidden}
.Rrain p{text-indent:2em; /* 首行缩进 */
margin:0px; padding:0px; }

.copyRight{width:100vw;max-width: 1004px; height:30px; line-height:30px; font-family:Arial, Helvetica, sans-serif;color:#633; text-align:center; margin:0px auto; color:#aaa;}


.ciel{width:670px; margin:0px auto; padding:10px 0px;}
.ciel h1{ font-size:14px; height:30px; line-height:30px;  background:#dfdacc; font-weight:bold;}
.ciel ul {margin:10px auto; max-width:650px;}
.ciel ul li{ width:100%; height:30px; line-height:30px; color:#777; font-size:12px;}

/*mylog.html*/
.log a{color:#333; text-decoration:none; font-size:14px;}
.log a:hover{text-decoration:underline}

.ciel1{max-width:100%; margin:0px auto; margin: 10px 20px 10px 10px; height: auto; display: flex;flex-direction: row; flex-wrap: wrap; justify-content: flex-start; row-gap: 6px;}
.ciel1 ul {margin:0px auto; width:100%; border-bottom: 1px dashed;
display: flex; flex-direction: row;}/*让内部元素横向排列*/
.ciel1 ul h1{ display: flex; flex-direction: column;flex-shrink: 0; justify-content:center; align-items:flex-start; text-align: justify-all;
							font-size:16px; width:120px; line-height:30px; background:#dfdacc; font-weight:bold; border-radius: 0 10px 10px 0; }
.ciel1 ul h1 a{font-size:16px; line-height:30px; margin-left: 0; text-decoration: none; color: inherit;}
.ciel1 ul h1 a:hover{color: #0000ff; text-decoration:underline}

.ciel1 ul li{ line-height:30px; color:#333; font-size:12px; 
display: flex; flex-direction: column; justify-content:center; align-items:flex-start; }/* 设置水平左对齐和垂直居中 */
.ciel1 ul a{margin: 0 0 0 auto; }
.ciel1 ul a img{height: 100px;}
.ciel1 li{display: flex; width:100%;}
.ciel1 li a{ font-style: italic; color: chocolate;}

.ciel1 ul li{display: flex;}
.ciel1 ul a{margin: 0 0 0 auto; }
/* 当屏幕的尺寸小于500的时候，我希望展示出来的内容 */
@media screen and (max-width: 500px) {
	.ciel1{padding:10px 10px; gap: 6px; }
	.ciel1 ul{flex-direction: column; width:calc(50% - 3px); justify-content: space-between; margin-left: 0;border-bottom: 1px none;} 
	.ciel1 ul a img{height:auto; max-height: 100px; max-width: 100%;}
	.ciel1 ul li{display: none; height: 100%;}
	.ciel1 ul a{margin: 0 auto; }
	.ciel1 ul h1{font-size:20px; width:auto; max-width:100%; height: 100%; flex-shrink: initial; align-items:center; border-radius: 0 0 10px 10px;}
	.ciel1 ul h1 a{font-size:20px; margin-left: auto;}
}



.ciel2{max-width:800px; margin:0px auto; padding:0px 10px 10px 10px;height: auto; display:flex; flex-direction: column;}
.ciel2 h1{ font-size:25px; height:30px; line-height:30px; background:#dfdacc; font-weight:bold; text-align: center;}
.ciel2 h2{ font-style: italic; color: chocolate; font-size:14px; height:30px; line-height:30px; font-weight:bold; text-align:right}
.ciel2 ul {margin:10px auto; width:100%;
display: flex; flex-direction: row;}/*让内部元素横向排列*/
.shouyebox{line-height:30px; color:#333; font-size:12px;  width: 100%; text-align: justify;}
.shouyebox img{float:left; width:200px; max-width:50%; margin-right:10px; border-radius: min(15px, 3vw)}
.ciel2 ul li{ line-height:30px; color:#333; font-size:12px;  width: 100%; text-align: justify;  /* 两端对齐 */
display: flex; flex-direction: column; justify-content:center; align-items:flex-start;}/* 设置水平左对齐和垂直居中 */
.ciel2 ul a{margin: 0 0 0 auto; }
.ciel2 ul a img{height: 100px;}
.ciel2 li{display: flex;}
.ciel2 li a{ font-style: italic; color: chocolate; margin: 0 0 0 auto;}
.ciel2 a{margin:0 auto;}
.ciel2 a img{max-height:200px;max-width:100%}


/* 当屏幕的尺寸小于500的时候，我希望展示出来的内容 */
@media screen and (max-width: 500px) {
	.ciel2 h1{font-size: 30px; height: 40px; line-height: 40px;}  /* 可以使文本垂直居中 */
	.ciel2 h2{font-size: 18px;}
	.ciel2 ul li{font-size: 18px;}
	.shouyebox{font-size:18px}
	
}

.leiBie{margin: auto;font-size: 20px;color: #000000;}
.searchys{
	margin: auto;
	background-color: rgba(180, 225, 255, 1.0);
	border-style: ridge;
	border-color: rgba(85, 170, 255, 1.0);
	border-radius: 10px 30px 30px 10px;
	border-width: 8px;
	width: 210px;
	height: 40px;
}
.anniu {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	top:30px;
	width:280px;
	margin: 0 auto 50px auto;
}
.button { /*正常按钮*/
	font-size: 20px;
	margin: 5px;
	width: 50px;
	height: 50px;
	border-style:outset;
	border-width:5px;
	border-radius: 7px;
	border-color:#ccc;
	background-size:cover ;
}
.button:active{
	border-color:#767676;
	background-color: #767676;
}
/* .button2 {
	font-size: 20px;
	margin: auto;
	width: 200px;
	height: 50px;
	border-style:outset;
	border-width:5px;
	border-radius: 7px;
	border-color:#ccc;
	background-color: #ccc;
	color: #000000;
	cursor: pointer;
	background-size:cover ;
	background-repeat: no-repeat;
}
.button2:active{
	border-color:#767676;
	background-color: #767676;
} */

.searchResults {
		display:flex;
		flex-direction: column;
		margin: 10px auto;
		width: 200px;
		z-index: 999; /* 确保弹窗在最上层 */
		background-color: rgba(170, 255, 0, 0.5);
		border-width: 8px;
		border-color: rgba(0, 170, 0, 1.0);
		border-style: outset;
		border-radius: 20px 20px 20px 20px;
		font-weight: bold;
		padding: 10px;
}
.searchResults li {
		list-style-type: none;
		padding: 5px 5px;
		font-size: 20px;
		font-style: italic;
		color: rgb(255, 0, 0);
}
.searchResults li a{
	color: #0000ff;
	
	font-size: 20px;
	font-style: normal;
	text-decoration-thickness:1;
	text-decoration-style: dashed;
	text-decoration-color: red;
	}














